<%- include('_header'); -%>

<div class="col-md-8">

    <div class="panel panel-default">

        <div class="panel-heading">
            <h1>Celluloid</h1>
        </div>
        <div class="panel-body">
            <!--<form class="form-signin" method="POST" action="/signup"> -->
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"></span>
                    <input style="font-size:23px" size="43" type="text" class="form-control" placeholder="binary code" name="binarycode" aria-describedby="basic-addon1">
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"></span>
                    <input style="font-size:23px" size="43" type="text" class="form-control" placeholder="testnet address" name="testnetaddress"
                        aria-describedby="basic-addon1">
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock"
                            aria-hidden="true"></span></span>
                    <input style="font-size:23px" size="43" type="text" name="lock_arg" class="form-control" placeholder="lock_arg" aria-describedby="basic-addon1">
                </div>
                <br />
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock"
                            aria-hidden="true"></span></span>
                    <input style="font-size:23px" size="43" type="text" class="form-control" placeholder="privkey"
                        aria-describedby="basic-addon1" name="privkey">
                </div>
                <br />
                <input input style="width:200px; height:50px;" type="submit" class="btn btn-default navbar-btn" value="Deploy" />

            </form>
        </div>
    </div>
</div>


<%- include ('_footer'); -%>